<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626613618045-4jpunjh1fvlr8fkeffdnqlc49lpq7tlg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626613618045-4jpunjh1fvlr8fkeffdnqlc49lpq7tlg</string>
	<key>API_KEY</key>
	<string>AIzaSyBqZp8PWHY4oVSRIho-8MbXpaBO4uWLxzI</string>
	<key>GCM_SENDER_ID</key>
	<string>626613618045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.prostylee</string>
	<key>PROJECT_ID</key>
	<string>prostylee-9c568</string>
	<key>STORAGE_BUCKET</key>
	<string>prostylee-9c568.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626613618045:ios:6990f2f9211a0aec5b7814</string>
	<key>DATABASE_URL</key>
	<string>https://prostylee-9c568.firebaseio.com</string>
</dict>
</plist>