<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220857409177-sgsleasj42q409hrm1h5ehqunts064fb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220857409177-sgsleasj42q409hrm1h5ehqunts064fb</string>
	<key>API_KEY</key>
	<string>AIzaSyDpnRm_TjFVj34DrL_EzHJX4vth33LNJFM</string>
	<key>GCM_SENDER_ID</key>
	<string>220857409177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sunshine.com.prostylee</string>
	<key>PROJECT_ID</key>
	<string>prostylee-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>prostylee-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220857409177:ios:269c857e7d56c8cb85e208</string>
</dict>
</plist>